/* Breakpoints */
@import "breakpoints/base.scss";

@media (min-width: 992px) {
  @import "breakpoints/992up.scss";
}

/* Partials */
@import "partials/reset.scss";
@import "partials/variables.scss";
@import "partials/grid.scss";
@import "partials/animations.scss";

@font-face {
  font-family: "SuisseIntl-Book";
  src: url("/fonts/SuisseIntl-Book-WebM.woff");
}

@font-face {
  font-family: "SuisseIntl-Regular";
  src: url("/fonts/SuisseIntl-Regular-WebM.woff");
}

body {
  font-family: "SuisseIntl-Book";
}