.header {
    background: none;
    padding: 1rem 3rem;
    flex-direction: row;
    position: relative;

    .container {
        flex-direction: row;

        .header__logo {
            a {
                svg {
                    padding: 1rem 0;
                }
            }
        }

        .header__list {
            margin-left: auto;
            align-items: center;

            .header__item {
                .header__link {
                    position: relative;
                    margin-left: 2rem;
                    margin-right: 0;

                    &.active {
                        &:after {
                            content: "";
                            position: absolute;
                            top: 2rem;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: 4px;
                            height: 4px;
                            -webkit-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            pointer-events: none;
                            border-radius: 4px;
                            background: var(--primary);
                        }
                    }
                }
            }
        }
    }
}

.hero {
    padding-top: 0;
}

.back-home {
    display: block !important;
}

.portfolio {
    &.home {
        padding: 5rem 0;
    }

    &__meta {
        .button {
            display: block;
            margin-left: auto;
        }
    }

    &__list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 5rem;

        h3 {
            font-size: 1.25rem;
        }

        p {
            font-size: 1.25rem;
        }
    }
}