@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--white);
  background: var(--black);
}

a {
  border-bottom: 2px solid var(--link);
  text-decoration: none;
  padding-bottom: 2px;
  max-width: fit-content;

  &:hover {
    border-bottom: 2px solid transparent;
    text-decoration: none !important;
  }

  &:link[href^="https://"]:after {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 0.25rem;
    content: "↗";
    vertical-align: text-top;
    opacity: 0.5;
  }
}

h3 {
  font-size: 1.25rem;
}

.header {
  display: flex;
  position: sticky;
  align-items: center;
  flex-direction: column;
  top: 0;
  width: 100%;
  padding: 0 0 .5rem;
  z-index: 9999;
  background: var(--black-o);

  .container {
    display: flex;
    flex-direction: column;

    .header__logo {
      display: flex;
      float: left;

      a {
        border-bottom: 0;

        svg {
          max-width: 12rem;
          fill: #fff;
          height: 100%;
          width: 100%;
          padding: 1rem 0 .5rem;
        }
      }
    }

    .back-home {
      display: none;
      background: var(--back);
      border-radius: 50rem;
      vertical-align: middle;
      margin-left: 2rem;
      color: var(--white);
      font-size: 1.5rem;
      height: 3rem;
      width: 3rem;
      max-width: 3rem;
      line-height: 3rem;
      text-align: center;
      border-bottom: 0;

      &:hover {
        background: var(--back-hover);
        text-decoration: none;
      }
    }

    .header__list {
      display: flex;

      .header__item {
        .header__link {
          display: block;
          color: var(--link);
          font-weight: 500;
          font-size: 1rem;
          border-bottom: 0;
          margin-right: 1.5rem;
          padding: .5rem 0;

          &:hover {
            color: var(--white);
            text-decoration: none;
          }

          &.active {
            color: var(--white);
          }

          &.disabled {
            &:hover {
              color: var(--link);
              cursor: not-allowed;
              text-decoration: line-through !important;
            }
          }
        }
      }
    }
  }
}

.hero {
  padding: 3rem 0 2rem;

  &.home {
    padding: 3rem 0;
  }

  h1 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5;

    .line {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4' viewBox='0 0 16 4'%3E%3Cpath d='M0,3.5c4,0,4-3,8-3s4,3,8,3' fill='none' stroke='%23ff6204' opacity='1' stroke-miterlimit='20'/%3E%3C/svg%3E");
      background-repeat: repeat-x;
      background-repeat-y: no-repeat;
      background-position: 0px 100%;
      transition: 0.2s;
      background-size: 16px 4px;
      animation: fancy-line 0.4s linear infinite;
      padding: 0 0 0.5rem;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
  }
}

.background {
  &__home {
    background-image: url('/static/background.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--black);
  }

  &__about {
    background-image: url('/static/about.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    background-color: var(--black);
  }
}

.time {
  display: flex;
  margin: 5rem 0;

  .container {
    display: flex;
    flex-direction: column;

    time {
      font-size: 1rem;
      color: var(--gray);
    }

    span {
      margin-top: .75rem;
      color: var(--link);
    }
  }
}

.portfolio {
  display: block;
  padding-bottom: 5rem;

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;

    h3 {
      margin: 0.5rem 0 .15rem;
      font-size: 1.125rem;
      font-weight: 600;
    }

    p {
      margin: 0;
      font-weight: 400;
      opacity: .5;
      font-size: 1rem;
    }

    .portfolio__item {
      display: block;
      border-bottom: 0;

      h3 {
        width: fit-content;
        border-bottom: 1px solid transparent;
        line-height: 1.25;
      }

      p {
        display: inline-block;
        font-size: 1rem;
        line-height: 1rem;
      }

      &:hover {
        h3 {
          border-bottom: 1px solid var(--white);
          opacity: .75;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 25rem;
    object-position: top;
  }

  &.home {
    padding: 5rem 0;

    h1 {
      font-weight: 500;
      font-size: 2.5rem;
      font-family: "Charter";
      margin: 0;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    margin: 0 0 2rem;

    h1 {
      font-weight: 500;
      font-size: 2rem;
      margin: 0;
      font-family: "Charter";
    }

    .button {
      display: none;
    }
  }

  .col-sm-4 {
    height: 100%;
  }
}

.contact {
  h1 {
    margin: 0;
  }
}

.bullets {
  margin: 0 0 7rem;

  h3 {
    font-weight: 500;
  }

  .bullets__list {
    li {
      padding-left: 18px;
      line-height: 1.8;
      font-size: 1.125rem;

      &:before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        background: rgba(242, 241, 239, 0.2);
        transform: translate(-18px, 14px);
      }

      span {
        opacity: 0.5;
      }
    }
  }
}

.about {
  font-size: 1.125rem;

  h3 {
    font-weight: 500;
  }

  p {
    margin: 0;
  }

  a {
    display: block;
    margin-top: 2rem;
  }
}

.social {
  margin-top: 5rem;
  font-size: 1.125rem;
  line-height: 2;

  h3 {
    font-weight: 500;
  }

  span {
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }
}

.footer {
  margin: 5rem 0;
  font-size: 1rem;

  .footer__list {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;

    .footer__list__item {
      margin: 0 2rem 2rem 0;

      .footer__list__link {
        color: var(--white);
        font-size: 1.125rem;

        &.disabled {
          border-bottom: 0;
          opacity: .5;
          cursor: not-allowed;

          &:hover {
            cursor: not-allowed;
            text-decoration: line-through !important;
          }
        }
      }
    }
  }

  span {
    opacity: .5;
    line-height: 1.5;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

@keyframes fancy-line {
  from {
    background-position: 0px 100%;
  }

  to {
    background-position: 16px 100%;
  }
}

.disabled {
  cursor: not-allowed;
  text-decoration: line-through;
}